@tailwind base;
@tailwind components;
@tailwind utilities;
.red-icon {
    color: red !important;
    border-color: red !important;
    outline-color: red !important;
  }
  .wishlist-icon {
    transition: all 0.3s ease;
  }